@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kurs3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kurs3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">kurs3</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownTables" role="button" data-bs-toggle="dropdown" aria-expanded="false">Таблицы</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownTables">
                                    <li><a class="dropdown-item" asp-controller="kyrs" asp-action="Index">Места</a></li>
                                    <li><a class="dropdown-item" asp-controller="Event" asp-action="Index">Мероприятия</a></li>
                                    <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index">Покупатели</a></li>
                                    <li><a class="dropdown-item" asp-controller="Address" asp-action="Index">Адреса</a></li>
                                    <li><a class="dropdown-item" asp-controller="Host" asp-action="Index">Ведущие</a></li>
                                    <li><a class="dropdown-item" asp-controller="Service" asp-action="Index">Услуги</a></li>
                                </ul>
                            }
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
